<body>
<h1>쇼핑페이지</h1>
<br>
<br>
<br>


<div class="card mb-3" style="max-width: 1300px;" *ngFor="let product of productlist">
    
<button (click)="moveshopproduct(product)">
    <div class="row g-0">
    <div class="col-md-4">
        <img src="{{product.imgsrc}}" class="img-fluid rounded-start" alt="{{product.productname}}">
    </div>
    <div class="col-md-8">
        <div class="card-body">
        <h5 class="card-title" id="name">{{product.productname}}</h5>
        <p class="card-text" >{{product.extra}}</p>
        <p class="card-text"><small class="text-muted">금액 : {{product.price}}</small></p>
        </div>
    </div>
    </div>
</button>
</div>

<br>
<br>