<form [formGroup]="form" (submit)="onSubmit()">
    <div>
    <label>품목명</label><br>
    <input formControlName="name" type="text" />
    </div>
    <div>
    <label for="">물품 설명</label><br>
    <input formControlName="extra" type="text" />
    </div>
    <div>
    <label for="">금 액</label><br>
    <input formControlName="price" type="number" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');" />
    </div>
    <div>
    <input (change)="onFIleSelect($event)" type="file" />
    </div>
    <div *ngIf="imageData">
    <img [src]="imageData" [alt]="form.value.name" />
    </div>
    <div>
    <button type="submit">등록</button>
    </div>
</form>
