<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home1</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>ReCycle</h1><br>
  <ion-content>
    <ion-slides #sliders (ionSlidesDidLoad)='slidesDidLoad(sliders) 'pager='true' [options]='slideOpts'>
      <ion-slide>
        <img src="../../assets/images/Slider01.png" alt="" srcset="">
      </ion-slide>

      <ion-slide>
        <img src="../../assets/images/Slider02.png" alt="" srcset="">
      </ion-slide>
      
      <ion-slide>
        <img src="../../assets/images/Slider03.png" alt="" srcset="">
      </ion-slide>

    </ion-slides>
  <div id="container">
    <h4>우리는 왜 재활용을 해야 할까요?</h4>
        <!-- Section's title goes here -->
        <p>환경 문제 해결 합시다</p>
</div>
</ion-content>
