<body>
  <div id="con">
    <div id="login">
      <div id="login_form">
        <form (ngSubmit)="onRegisterSubmit()">
          <h3 class="login">Sign up</h3>

          <div class="form-group">
            <label for="name"
              ><p style="text-align: left; font-size: 12px; color: #666">ID</p>
            </label>
            <input
              type="text"
              [(ngModel)]="name"
              [ngModelOptions]="{ standalone: true }"
              class="size"
              id="name"
            />
          </div>

          <div class="form-group">
            <label for="password1"
              ><p style="text-align: left; font-size: 12px; color: #666">
                비밀번호
              </p></label
            >
            <input
              type="password"
              [(ngModel)]="password1"
              [ngModelOptions]="{ standalone: true }"
              class="size"
              id="password1"
            />
          </div>

          <div class="form-group">
            <label for="password2"
              ><p style="text-align: left; font-size: 12px; color: #666">
                비밀번호 확인
              </p></label
            >
            <input
              type="password"
              [(ngModel)]="password2"
              [ngModelOptions]="{ standalone: true }"
              class="size"
              id="password2"
            />
          </div>

          <div class="form-group">
            <label for="username"
              ><p style="text-align: left; font-size: 12px; color: #666">
                username
              </p></label
            >
            <input
              type="text"
              [(ngModel)]="username"
              [ngModelOptions]="{ standalone: true }"
              class="size"
              id="username"
            />
          </div>

          <div class="form-group">
            <label for="email"
              ><p style="text-align: left; font-size: 12px; color: #666">
                email
              </p></label
            >
            <input
              type="text"
              [(ngModel)]="email"
              [ngModelOptions]="{ standalone: true }"
              class="size"
              id="email"
            />
          </div>
          <br />
          <input type="submit" class="btn btn-primary" value="Submit" />
        </form>
      </div>
    </div>
  </div>
</body>
