<h1>회원가입 페이지</h1>
<form (ngSubmit)="onRegisterSubmit()">

    <div class="form-group">
        <label for="name">Id</label>
        <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone:true}" class="form-control" id="name"/>
    </div>


    <div class="form-group">
        <label for="password1">비밀번호</label>
        <input type="password" [(ngModel)]="password1" [ngModelOptions]="{standalone:true}" class="form-control" id="password1"/>
    </div>


    <div class="form-group">
        <label for="password2">비밀번호 확인</label>
        <input type="password" [(ngModel)]="password2" [ngModelOptions]="{standalone:true}" class="form-control" id="password2"/>
    </div>


    <div class="form-group">
        <label for="username">이름</label>
        <input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone:true}" class="form-control" id="username"/>
    </div>


    <div class="form-group">
        <label for="email">email</label>
        <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone:true}" class="form-control" id="email"/>
    </div>
    <br>
    <input type="submit" class="btn btn-primary" value="Submit"/>
</form>