
    <h1>쇼핑페이지</h1>
    <br>
    <br>
    <br>
    
    
    <div class="card mb-3" style="max-width: 2000px;">
        

    <div class="row g-0">
    <div class="col-md-4">
        <img src="{{product.imgsrc}}" class="img-fluid rounded-start" alt="{{product.productname}}">
    </div>
    <div class="col-md-8">
        <div class="card-body">
        <h5 class="card-title" id="name">{{product.productname}}</h5>
        <p class="card-text" >{{product.extra}}</p>
        <p class="card-text">금액 : {{product.price}}</p>
        <p class="card-text">수 량 : <input type="number"  value=1 [(ngModel)]="num" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"/></p>
    </div>
    </div>
    </div>
    </div>
    
    <button (click)="buy()">구매</button>
    <br>
    <br>


    <!--<body>
    <h1>쇼핑페이지</h1>
    <br>
    <br>
    <br>
    
    
    <div class="card mb-3" style="max-width: 2000px;">
        

    <div class="row g-0">
    <div class="col-md-4">
        <img src="{{product.imgsrc}}" class="img-fluid rounded-start" alt="{{product.productname}}">
    </div>
    <div class="col-md-8">
        <div class="card-body">
        <h5 class="card-title" id="name">{{product.productname}}</h5>
        <p class="card-text" >{{product.extra}}</p>
        <p class="card-text">금액 : {{product.price}}</p>
        <p class="card-text">수 량 : <input type="number"  value=1 [(ngModel)]="num" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"/></p>
    </div>
    </div>
    </div>
    </div>
    
    <button (click)="buy()">구매</button>
    <br>
    <br>-->



<!-- <section class="u-clearfix u-custom-color-1 u-section-2" id="sec-6302">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-container-style u-custom-color-2 u-expanded-width u-product u-product-1">
            <div class="u-container-layout u-container-layout-1">
            <img alt="{{product.imgsrc}}" class="u-image u-image-default u-product-control u-image-1" data-image-width="2000" data-image-height="1333" src="{{product.imgsrc}}">
            <h2 class="u-product-control u-text u-text-default u-text-palette-3-base u-text-1">
                <a class="u-product-title-link" href="#">{{product.productname}}</a>
            </h2>
            <div class="u-product-control u-product-price u-product-price-1">
                <div class="u-price-wrapper u-spacing-10">
                <div class="u-price u-text-palette-2-base" style="font-size: 1.5rem; font-weight: 700;">금액 : {{product.price}}</div>
                </div>
            </div>
            <div class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"></div>
            <div class="u-product-control u-product-variations u-product-variations-1">
                <div class="u-product-variant">
                <label for="product-variant-select-1" class="u-label">수량</label>
                <input type="number"  value=1 [(ngModel)]="num" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"/>
                </div>
            </div>
            <button (click)="buy()" type="button" class="btn btn-secondary btn-lg">구매하기</button>
            </div>
        </div>
        </div>
    </section> -->
