<body>
    <h1>쇼핑페이지</h1>
    <br>
    <br>
    <br>
    
    
    <div class="card mb-3" style="max-width: 2000px;">
        

    <div class="row g-0">
    <div class="col-md-4">
        <img src="{{product.imgsrc}}" class="img-fluid rounded-start" alt="{{product.productname}}">
    </div>
    <div class="col-md-8">
        <div class="card-body">
        <h5 class="card-title" id="name">{{product.productname}}</h5>
        <p class="card-text" >{{product.extra}}</p>
        <p class="card-text">금액 : {{product.price}}</p>
        <p class="card-text">수 량 : <input type="number"  value=1 [(ngModel)]="num" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"/></p>
    </div>
    </div>
    </div>
    </div>
    
    <button (click)="buy()">구매</button>
    <br>
    <br>