<!-- Start home section -->
<div id="home">
    <!-- Start cSlider -->
    <div id="da-slider" class="da-slider">
    <div class="triangle"></div>
    <!-- mask elemet use for masking background image -->
    <div class="mask"></div>
    <!-- All slides centred in container element -->
    <div class="container">
    <!-- Start first slide -->
    <div class="da-slide">
        <h2 class="fittext2">재활용 분류</h2>
        <h4>환경을 위한 모두의 노력</h4>
        <p>살기좋은 환경을 위해 모두함께 노력해요</p>
        <div class="da-img">
        <img src="assets/images/Slider01.png" alt="image01" width="320" />
        </div>
    </div>
    <!-- End first slide -->
    <!-- Start second slide -->
    <div class="da-slide">
        <h2>사용하기 쉬운!</h2>
        <h4>간편한 사용방법</h4>
        <p>너무간편해요</p>
        <div class="da-img">
        <img src="assets/images/Slider02.png" width="320" alt="image02" />
        </div>
    </div>
    <!-- End second slide -->
    <!-- Start third slide -->
    <div class="da-slide">
        <h2>포인트 적립</h2>
        <h4>포인트를 모아봐요</h4>
        <p>리워드 포인트를 쌓고 사용해 보세요!</p>
        <div class="da-img">
        <img src="assets/images/Slider03.png" width="320" alt="image03" />
        </div>
    </div>
    <!-- Start third slide -->
    <!-- Start cSlide navigation arrows -->
    <div class="da-arrows">
        <span class="da-arrows-prev"></span>
        <span class="da-arrows-next"></span>
    </div>
    <!-- End cSlide navigation arrows -->
    </div>
</div>
</div>
<!-- End home section -->
    <!-- Service section start -->
    <div class="section primary-section" id="service">
    <div class="container">
        <!-- Start title section -->
        <div class="title">
        <h1>우리는 왜 재활용을 해야 할까요?</h1>
        <!-- Section's title goes here -->
        <p>환경 어쩌고 쓰레기 어쩌고</p>
        <!--Simple description for section goes here. -->
        </div>
        <div class="row-fluid">
        <div class="span4">
            <div class="centered service">
            <div class="circle-border zoom-in">
                <img
                class="img-circle"
                src="assets/images/Service1.png"
                alt="service 1"
                />
            </div>
            <h3>재활용 이유 1</h3>
            <p>왜 해야할까요</p>
            </div>
        </div>
        <div class="span4">
            <div class="centered service">
            <div class="circle-border zoom-in">
                <img
                class="img-circle"
                src="assets/images/Service2.png"
                alt="service 2"
                />
            </div>
            <h3>재활용 이유 2</h3>
            <p>두번째 이유는 이거에요</p>
            </div>
        </div>
        <div class="span4">
            <div class="centered service">
            <div class="circle-border zoom-in">
                <img
                class="img-circle"
                src="assets/images/Service3.png"
                alt="service 3"
                />
            </div>
            <h3>재활용 이유 3</h3>
            <p>3번째 이유는 이거입니다.</p>
            </div>
        </div>
        </div>
    </div>
    </div>
<div class="footer">
    <p>
    &copy; 2013 Theme by <a href="http://www.graphberry.com">GraphBerry</a>,
    <a href="http://goo.gl/NM84K2">Documentation</a>
    </p>
</div>
<!-- Footer section end -->