<body>
  <div id="con">
    <div id="login">
      <div id="login_form">
        <form (ngSubmit)="onLoginSubmit()">
          <h3 class="login">Login</h3>
          <div class="input-box">
            <label for="name"
              ><p style="text-align: left; font-size: 12px; color: #666">
                Username
              </p>
            </label>
            <input
              type="text"
              [(ngModel)]="name"
              [ngModelOptions]="{ standalone: true }"
              id="name"
              class="size"
            />
          </div>

          <div class="input-box">
            <label for="password"
              ><p style="text-align: left; font-size: 12px; color: #666">
                비밀번호
              </p></label
            >
            <input
              type="password"
              [(ngModel)]="password"
              [ngModelOptions]="{ standalone: true }"
              id="password"
              class="size"
            />
          </div>

          <input type="submit" class="btn btn-primary" value="login" />
        </form>
        <hr />
        <p class="find">
          <span><a routerLink="#">아이디 찾기</a></span>
          <span><a routerLink="#">비밀번호 찾기</a></span>
          <span><a routerLink="/register">회원가입</a></span>
        </p>
      </div>
    </div>
  </div>
</body>
