<!-- <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Trash</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <a class="nav-link text-white" aria-current="page" routerLink="/" >Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/shop" *ngIf="checkLoggedIn()">shop</a>
        </li>
        <li class="nav-item" *ngIf="checkLoggedIn()">
            <a class="nav-link text-white" routerLink="/collect">collect</a>
        </li>
    </ul>
    
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/login" *ngIf="!checkLoggedIn()">login</a>
        </li>        
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/profile" *ngIf="checkLoggedIn()">마이페이지</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/admin" >관리자 페이지</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" (click)="onLogoutClick()" href="#" *ngIf="checkLoggedIn()">logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/register" *ngIf="!checkLoggedIn()">register</a>
        </li>
    
    </ul>
    </div>
</div>
</nav> -->

<div class="navbar">
  <div class="navbar-header">
    <div class="container">
      <a href="#" class="brand">
        <img
          src="assets/images/최종 메인.png"
          width="120"
          height="40"
          alt="Logo"
        />
        <!-- This is website logo -->
      </a>
      <!-- Navigation button, visible on small resolution -->
      <button
        type="button"
        class="btn btn-navbar"
        data-toggle="collapse"
        data-target=".nav-collapse"
      >
        <i class="icon-menu"></i>
      </button>
      <!-- Main navigation -->
      <div class="">
        <ul class="nav" id="top-navigation">
          <li>
            <!-- 기존처럼 하려면 routerLink 대신 href="#"-->
            <a class="nav-link text-white" routerLink="/">Home</a>
          </li>
          <li>
            <a
              class="nav-link text-white"
              routerLink="/collect"
              *ngIf="checkLoggedIn()"
              >재활용 적립</a
            >
          </li>
          <li>
            <a
              class="nav-link text-white"
              routerLink="/shop"
              *ngIf="checkLoggedIn()"
              >포인트몰</a
            >
          </li>
          <li>
            <a
              class="nav-link text-white"
              routerLink="/board"
              *ngIf="checkLoggedIn()"
              >board</a
            >
          </li>
          <li>
            <a
              class="nav-link text-white"
              routerLink="/profile"
              *ngIf="checkLoggedIn()"
              >마이페이지</a
            >
          </li>
          <li>
            <a
              class="nav-link text-white"
              routerLink="/login"
              *ngIf="!checkLoggedIn()"
              >로그인</a
            >
          </li>
          <li>
            <a
              class="nav-link text-white"
              routerLink="/register"
              *ngIf="!checkLoggedIn()"
              >회원가입</a
            >
          </li>
          <li>
            <a
              class="nav-link text-white"
              (click)="onLogoutClick()"
              routerLink="/"
              *ngIf="checkLoggedIn()"
              >logout</a
            >
          </li>
          <li>
            <a
              class="nav-link text-white"
              routerLink="/admin"
              *ngIf="this.name == this.admin"
              >관리자페이지</a
            >
          </li>
        </ul>
      </div>
      <!-- End main navigation -->
    </div>
  </div>
</div>
