<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Trash</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <a class="nav-link text-white" aria-current="page" routerLink="/" >Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/shop">shop</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/collect">collect</a>
        </li>
    </ul>
    
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/login">login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/profile">마이페이지</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/admin">관리자 페이지</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/register">register</a>
        </li>
    
    </ul>
    </div>
</div>
</nav>